
.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin: 20px;
  }
.text{
    float: right;
    
}
.text2{
    text-align: left;
    display:flex;
}
