.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
    text-decoration: none;
    color: #0077b6;
}

.text2 {
    font-size: 24px;
    margin: 10px 0;
    color: #0077b6;
 }

ul {
    list-style-type: none;
    padding: 0;
    color: #0077b6;

}

li {
    margin-bottom: 5px;
    color: #0077b6;
}

li strong {
    font-weight: bold;
    color: #0077b6;
}
